# Zig
zig-out/
zig-pkg/
.zig-cache/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
*.pyd
.Python
build/
develop/
dist/
*.egg-info/
.eggs/

# Virtual environments
venv/
.venv/
env/

# IDE
.idea/
.vscode/
*.swp
*~

run
_.*
