# C Liburing START >>>
graft libs/liburing/src

include libs/liburing/configure
include libs/liburing/liburing-ffi.pc.in
include libs/liburing/liburing.pc.in
include libs/liburing/liburing.spec
include libs/liburing/Makefile
include libs/liburing/Makefile.common
include libs/liburing/Makefile.quiet
include libs/liburing/LICENSE
# C Liburing END <<<

graft example
graft test

exclude src/liburing/*.c
global-exclude *.py[cod] # note: must run last to exclude properly
